@media all{
  .custom-navbar {
    z-index: 9;
    background-color: #F75129;
    opacity: .9;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    width: 100vw;
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.1));
    border: 0px;
    border-radius: 0px;
  }
  .custom-navbar a {
    
  }
  .navbar-default .navbar-nav > li > a{
    color: #fff;
    font-size: 16px;
  }
  .navbar-default .navbar-nav > li > a:hover{color: #fff;}
  .navbar-default .navbar-nav > li > a:visited{color: #fff;}
  .container-my {
    max-width: 1120px;
    margin: 0 auto;
  }
  .custom-navbar-ul li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body{
  font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}
/* scroll cursor */
.onepage-pagination{
  top: 42%;
}

/* page1 */
.home-page.pg1{
  background: url("../image/home_p1_bg.jpg") no-repeat ;
  background-size: 100vw;
}

.pg1-rbox{
  margin-left: 40vw;
}
.home-page span{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.pg-title{font-size: 36px;}
.pg-subtitle{
  font-size: 18px;
  color: #666;
}
.pg1 .pg-title{margin-top: 40vh;}
.pg1 .pg-btn{margin-top: 2vh;}
.pg1 .pg-btn a,
.pg5 .pg-btn a{margin: auto;}

.pg-btn a:visited{text-decoration: none;}
.pg-btn a:hover{
  background-color: rgb(230,81,47);
  text-decoration: none;
}
.pg-btn a:active {text-decoration: none;}
.pg1 .pg-text1{margin-top: 4vh;}
.pg1 .pg-text2{margin-top: 1vh;}

/* page2 */
.pg2 .pg-title{margin-top: 15vh;}
.pg2 .pg-subtitle{margin-top: 1vh;}

/* page3 */
.pg3 .pg-title{margin-top: 40vh;}
.pg3 .pg-subtitle{margin-top: 1vh;}

/* page4 */
.pg4 .pg-title{margin-top: 20vh;}
.pg4 .pg-subtitle{margin-top: 1vh;}

/* page5 */
.pg5-rbox{margin-left: 40vw;}
.home-page .pg5-rbox span
{
  text-align: right;
  padding-right: 12vw;
}
.pg5-rbox a{
  float: right;
  text-align: center;
}
.pg5 .pg-title.title2{
  margin-top: 1vh;
  font-size: 20px;
}
.pg5 .pg-title{margin-top: 36vh;}
.pg5 big{
  line-height: 38px;
  font-size: 20px;
  color: rgb(255,126,0);
  padding-right: 16px;
}
.pg5 .pg-btn{margin-top: 4vh;}

/* order-page */
.order-main{
  margin-top: 90px;
  max-width: 1080px;
  min-width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  
}
.order-main .dtl-title{
  margin-top: 5px;
  display: block;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
}

.order-main .dtl-row{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 112px;
  width: 630px;
  border-bottom: 1px solid #eee;
}
.dtl-row.def{border: 0;}

.order-main .dtl-item{
  float: left;
  width: 190px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-image: linear-gradient(rgba(255,255,255,.1),rgba(100,100,100,.1));
  margin-right: 20px;
}
.order-main .dtl-line{
  display: block;
  width: 150px;
}
.order-main .line-1st{
  font-size: 18px;
  color: #666;
}
.order-main .line-1st span{
  font-size: 16px;
  color: red;
  margin-left: 8px;
}
.order-main .line-2nd,
.order-main .line-3rd{
  font-size: 16px;
  color: #888;
}
.order-main .dtl-price{
  height: 60px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
}
.order-main .dtl-price span{
  margin-right: 10px;
  float: left;
  width: 140px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  color: #888;
  border: 1px solid #ccc;
}

.order-main .dtl-member{
  height: 108px;
  border-bottom: 1px solid #ccc;
}

.order-main .member-add{
  float: right;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  line-height: 32px;
  background-color: #fff;
  border-radius: 20px;
  color: #888;
  font-size: 30px;
  text-align: center;
}
.order-main .dtl-member span{
  float: left;
  width: 190px;
  border: 1px solid #ddd;
  color: #777;
  border-radius: 12px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background-image: linear-gradient(rgba(255,255,255,.1),rgba(100,100,100,.1));
  margin-right: 20px;
}
.order-main .pg-btn{
  display: block;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
}
.order-main .pg-btn span{
  font-size: 26px;
  color: rgb(255,85,85);
  padding-right: 16px;
}

/* order_success */
.success-main .pg-title{
  display: block;
  text-align: center;
  color: #3cc51f;
}
.success-main .pg-title{
  margin-top: 25px;
  font-size: 26px;
  font-weight: 300;
}
.home-page_desc{
  text-align: center;
  color: #888;
  font-size: 12px;
}

/* iphone5 */
@media screen and (max-width: 320px){
  
  /* order-page */
  .navbar{display: none;}
  .order-main{
    margin-top: 0px;
    max-width: 300px;
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  .order-main .dtl-title{
    font-size: 20px;
  }

  .order-main .dtl-row{
    padding-top: 6px;
    padding-bottom: 6px;
    height: 70px;
    width: 100%;
  }
  .dtl-row.def{
    border: 0;
    height: 195px;
  }
  
  .dtl-row.def .dtl-item{
    margin-bottom: 6px;
  }

  .order-main .dtl-item{
    float: left;
    width: 100%;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(200,200,200,.1));
  }
  .order-main .dtl-line{
    display: inline-block;
    width: 150px;
  }
  .order-main .line-1st{
    font-size: 14px;
  }
  .order-main .line-1st span{
    font-size: 12px;
  }
  .order-main .line-2nd,
  .order-main .line-3rd{
    font-size: 12px;
    width: 134px;
    margin-top: 5px;
  }
  .order-main .line-3rd{
    text-align: right;
  }
  .order-main .dtl-price{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .order-main .dtl-price span{
    width: 140px;
    font-size: 14px;
  }

  .order-main .member-add{
    margin-right: 0px;
    width: 26px;
    height: 26px;
    line-height: 22px;
    font-size: 22px;
    font-weight: 200;
  }
  
  .order-main .pg-btn{
    padding-right: 0px;
    margin-bottom: 5px;
  }
  .order-main .pg-btn span{
    font-size: 18px;
    padding-right: 20px;
  }
  /* order_success */
  
  .success-main{
    margin-top: 0px;
    max-width: 320px;
    min-width: 100％;
    padding-left: 0px;
    padding-right: 0px;
  
  }
  .success-main .pg-title{
    margin-top: 25px;
    font-size: 26px;
    font-weight: 300;
  }
  .home-page_desc{
    text-align: center;
    color: #888;
    font-size: 12px;
  }
  
}

/* iphone6 */
@media screen and (max-width: 375px) and (min-width: 321px) {
  
  /* order-page */
  .navbar{display: none;}
  .order-main{
    margin-top: 0px;
    max-width: 375px;
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  .order-main .dtl-title{
    font-size: 20px;
  }

  .order-main .dtl-row{
    padding-top: 6px;
    padding-bottom: 6px;
    height: 70px;
    width: 100%;
  }
  .dtl-row.def{
    border: 0;
    height: 195px;
  }
  
  .dtl-row.def .dtl-item{
    margin-bottom: 6px;
  }

  .order-main .dtl-item{
    float: left;
    width: 100%;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(200,200,200,.1));
  }
  .order-main .dtl-line{
    display: inline-block;
    width: 300px;
  }
  .order-main .line-1st{
    font-size: 14px;
  }
  .order-main .line-1st span{
    font-size: 12px;
  }
  .order-main .line-2nd,
  .order-main .line-3rd{
    font-size: 12px;
    width: 134px;
    margin-top: 5px;
  }
  .order-main .line-3rd{
    text-align: right;
  }
  .order-main .dtl-price{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .order-main .dtl-price span{
    width: 40%;
    font-size: 14px;
  }

  .order-main .member-add{
    margin-right: 0px;
    width: 26px;
    height: 26px;
    line-height: 22px;
    font-size: 22px;
    font-weight: 200;
  }
  
  .order-main .pg-btn{
    padding-right: 0px;
    margin-bottom: 5px;
  }
  .order-main .pg-btn span{
    font-size: 18px;
    padding-right: 20px;
  }
}

/* iphone6s */
@media screen and (max-width: 540px) and (min-width: 376px) {
  
  /* order-page */
  .navbar{display: none;}
  .order-main{
    margin-top: 0px;
    max-width: 510px;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  
  }
  .order-main .dtl-title{
    font-size: 24px;
  }

  .order-main .dtl-row{
    padding-top: 6px;
    padding-bottom: 6px;
    height: 82px;
    width: 100%;
  }
  .dtl-row.def{
    border: 0;
    height: 234px;
  }
  
  .dtl-row.def .dtl-item{
    margin-bottom: 6px;
  }

  .order-main .dtl-item{
    float: left;
    width: 100%;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(200,200,200,.1));
  }
  .order-main .dtl-line{
    display: inline-block;
    width: 300px;
  }
  .order-main .line-1st{
    font-size: 20px;
  }
  .order-main .line-1st span{
    font-size: 16px;
  }
  .order-main .line-2nd,
  .order-main .line-3rd{
    font-size: 16px;
    width: 160px;
    margin-top: 5px;
  }
  .order-main .line-3rd{
    text-align: right;
  }
  .order-main .dtl-price{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .order-main .dtl-price span{
    width: 40%;
    font-size: 18px;
  }

  .order-main .member-add{
    margin-right: 0px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    font-size: 25px;
    font-weight: 200;
  }
  
  .order-main .pg-btn{
    padding-right: 0px;
    margin-bottom: 5px;
  }
  .order-main .pg-btn span{
    font-size: 20px;
    padding-right: 20px;
  }
}

/* order_phone */
.cell-name-small{
  font-size: 14px;
}
.cells-title-right-btn{
  float: right;
  bottom: .3em;
}
.order-price{
  padding-right: 15px;
  font-size: 18px;
  color: #EF4F4F;
}
.pay-btn{
  font-size: 16px;
}
.user-center-door{top: 7px;}

/* user_center */
.button_sp_area.sign-in-up{
  margin-top: 5vh;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5vh;
}
.code-get{
  display: block;
  height: 44px;
  line-height: 44px;
  width: 90px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(127, 234, 144);
  text-align: center;
}
.member_hd{
  padding-top: 1em;
  text-align: center;
}
.member_name{
  font-size: 26px;
  color: #3cc51f;
  font-weight: 400;
}